
name: "Docs Check"
on: pull_request

jobs:
  docs:
    runs-on: ubuntu-latest
    container:
      image: unhumbleben/nupack:latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
          python-version: '3.9'
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Install NUPACK
      run: |
        python -m pip install -U nupack -f /nupack/package
    # got from here: https://github.com/marketplace/actions/python-dependency-installation
    # should install dependencies in requirements.txt
    - name: Install Python dependencies
      uses: py-actions/py-dependency-install@v2
    - name: Install Sphinx
      run: |
        pip install sphinx sphinx_rtd_theme
    - name: Move to docs folder and build
      run: |
        cd doc
        pwd
        sphinx-build -T -E -W -b html . _build
